.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Output/
Distance Raster Prep/
Plots/
Junk/
FinalAnalysisData/
FinalAnalysisOutput/Junk/

Code/Data Prep/
Code/Data Prep/GPSDataPrep.R
Code/Data Prep/Spatial Variable Prep.R
Code/Dirty Code/